# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
*.out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
application.linux
_workspace
playground
*.coverprofile

# Sublime files
*.sublime-*

# Vscode files
.vscode/*
cmd/swagger/swagger.json.bak
tags

### Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
profile.cov

# Drone
secrets.yml
dist

# Idea
.idea
go-swagger.iml

node_modules
_book

tmp/
cover/
bin/
enter-deploy-env.sh

coverage.txt

hack/deploy.env

dist/
.circleci/*.sh
.mcp.json

# Generated security material (use: go run ./hack/tools gen-certs / gen-tokens)
todo-list-errors/*.key
todo-list-errors/*.crt
todo-list-errors/*.csr
todo-list-errors/*.req
todo-list-errors/*.p12
composed-auth/keys/*.pem
composed-auth/keys/*.prv
composed-auth/tokens/*.jwt
